 @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* background-color: #ff22aa; */
  background-image: url("../project/bg-profile.png");
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff69b4;
  padding: 10px;
  color: #fff;
  height: 80px;
}
.nav-links a, span a, .user a {
  font-size: 20px;
  float: left;
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
  align-items: center;
}

.nav-links a:hover , span a:hover , .user a:hover {
  /* background-color: lightpink; */
  color: black;
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

.logo .textlogo {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}


.nav-links li a i {
  margin-right: 5px;
}

.profile-link a {
  display: flex;
  align-items: center;
}

.profile-link a span {
  margin-right: 5px;
}

.user{
  display: flex;
  align-items: center;
}

.user img {
  width: 50px;
  height: 50px;
}

h2 {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: 40px;
  /* color: #ff22aa; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.hotel-item {
  padding: 15px;
  width: 30%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 15px;
  height: 400px;
  /* position: relative; */
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 300px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}



.hotel-item h4 {
  /* margin: 10px; */
  font-size: 18px;
  color: #333;
}

.hotel-item p {

  color: #666;
}

.hotel-item p:last-child {
  margin-bottom: 10px;
  font-weight: 400;
  color: #333;
}

/* .btn {
  padding: 6px;
  border-radius: 10px;
  background-color: #dededea2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  /* position: absolute; */

/* }

.btn .input {
  width: 80px;
  height: 30px;
  padding: 4px 20px;
  background-color: #ff22aa;
  border: none;
  border-radius: 15px;
  color: white;
} */ 

footer {
  padding: 30px 5% 50px;
}


.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 1.5rem;
  background-color: #F7418F;
  margin-top: 30px;
  /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0; */
}

.footer-content .icons a {
  text-decoration: none;
  color: white;
}

.footer-content .icons li a {
  color: white;
  text-decoration: none;

}

.footer-content img {
  width: 150px;
  height: 150px;
}

.footer-content h1 {
  color: #fff;
  /* margin-bottom: 10px;
  font-size: 20px; */
}

.footer-content h4 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-content li {
  margin-bottom: 16px;
  text-decoration: none;
  color: white;
}

.footer-content li a {
  /* display: block; */
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  transition: all .40s ease;
  text-decoration: none;
}

.footer-content li a:hover {
  transform: translateY(-5px) translateX(-7px);
  color: #fff;
  text-decoration: underline;
}