<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payments</title>
    <link rel="stylesheet" href="../CSS/payments.css">
    <style>
        /* Your custom styles here */
    </style>
</head>
<body>

    <nav>
        <div class="logo">
          <img src="../project/logo.png" alt="Disney Hotel Logo">
          <!-- <span class="textlogo">Disney Hotel.</span> -->
          <span><a href="../DisneyHome.html" class="textlogo">Disney Hotel.</a></span>
        </div>
        <ul class="nav-links">
          <li><a href="/home">Stays</a></li>
          <li><a href="/carRentalPreview"><i class="fas fa-car"></i> Car rentals</a></li>
          <li><a href="/booking">Booking</a></li>
          <li class="profile-link">
            <a href="/diary"><span>Diary</span><i class="fas fa-user"></i></a>
          </li>
          <li><a href="#"><i class="fas fa-question-circle"></i></a></li>
        </ul>
        <div class="user">
          <a href="/profile"><img src="../project/profile.png" alt=""></a>
          <a href="/logout">Logout</a>
        </div>
      </nav>

      

    <div class="payment">
      <h3>Credit Card/Debit Card</h3>
      <div class="payment-option">
        <img src="../project/credit.png" alt="Visa">
        <!-- <img src="/Users/boonyasirikulkitlertsakul/Downloads/PDF -3/16.png" alt="MasterCard"> -->
        <a href="../ticket.html">PAY</a>
      </div>
      <br>

      <h3>Mobile Banking</h3>
      <div class="payment-option">
        <!-- <h3>Mobile Banking</h3> -->
        <img src="../project/mobilebanking.png" alt="Mobile Banking" class="Banking">
        <a href="../ticket.html">PAY</a>
      </div>
      <br>

      <h3>PromptPay</h3>
      <div class="payment-option">
        <img src="../project/promptPay3.png" alt="Prompt Pay" class="promptpay" >
        <a href="../ticket.html">PAY</a>
      </div>

      
      </div>
    </div>
  </div>
      <!-- <h1>Payments</h1>
      <form action="/processPayment" method="post">
          <input type="hidden" name="hotelId" value="<%= hotelId %>">
          <input type="hidden" name="carRentalId" value="<%= carRentalId %>">
  
          <div>
            <label>
                  <input type="radio" name="paymentMethod" value="card"> จ่ายบัตร
            </label>
          </div>
          <div>
              <label>
                  <input type="radio" name="paymentMethod" value="transfer"> โอน
              </label>
          </div>
  
          <input type="submit" value="Pay Now">
      </form> -->
</body>
</html>
